.head {
    background-color: rgb(16, 18, 126);
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.search-form {
    padding-top: 8px;
    display: flex;
    justify-content: center;
}

.search-form input {
    border: 0;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
}

.search-form button {
    margin-left: 5px;
    border: 0;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
}

.photo-card {
    margin: 20px 0;
    border-left: 0.5px #f6f1f1 solid;
    border-right: 0.5px #f6f1f1 solid;
    border-bottom: 1px rgba(183, 174, 174, 0.649) solid;
}

.photo-card img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.info-item {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: rgb(16, 18, 126);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
}

.is-hidden {
    display: none;
}


.gallery__item {
    position: relative;
}
  
.gallery__image:hover {
    transform: scale(1.03);
}
  
.gallery__image {
    transition: transform var(--animation-duration) var(--timing-function);
}
  
.gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
}
  
.gallery__link:hover {
    cursor: zoom-in;
}